.services {
    background-color: #212529;
}

.services_container {
    margin: 0 auto;
    width: 80%;
}

.services_title {
    text-align: center;
}

.services_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 1020px) {
    .services_item {
        justify-content: center;
    }
}